.header {
    display: flex;
    padding: 35px;
    background-color: #333;
    color: #fff;
    position: relative;
    /* justify-content: space-between; */
    width: 100vw;
}

.header .logo {
    font-size: 24px;
 
}

.header .nav {
    display: flex;
    align-items: center ;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); /* Canh giữa các thẻ a */
    
}

 .nav a {
   
    color: #black;
    text-decoration: none;
    padding: 10px;
}

.header .nav a:hover {
    color: #f0a500;
}
